<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Таблица ролей</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<div class="p-3 bg-dark text-white" style="display: flex; justify-content: space-between; align-items: center">
    <div>
        <span th:text="${current.username}" style="font-weight: bolder"></span>
        <span> with roles: </span>
        <span th:text="${current.roles}"></span>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="post">
            <a href="/logout" th:method="post" style="color: dimgrey">Logout</a>
        </form>
    </div>
</div>

<table th:border="1">
    <h2 th:align="center">Все роли</h2>
    <thead>
    <tr>
        <th>№</th>
        <th>Роль</th>
        <th>Удаление</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role : ${roles}">
        <td th:text="${role.id}"></td>
        <td th:text="${role.authority}"></td>
        <td>
            <div class="all-classes-container">
                <form th:action="@{/admin/deleteRole}" th:method="delete">
                    <input type="hidden" th:name="id" th:value="${role.id}"/>
                    <button type="submit" value="Delete">Удалить</button>
                </form>
            </div>
        </td>
    </tr>
    <tr>

        <form th:action="@{/admin/addNewRole}" th:method="post">
            <td></td>
            <td><input type="text" th:placeholder="Role" name="authority"/></td>
            <td>
                <div>
                    <button type="submit" th:value="Add">Добавить</button>
                </div>
            </td>
        </form>
    </tr>
    </tbody>
</table>

</body>
<!-- кнопка выхода из системы и перенаправления на страницу index-->

<form th:action="@{/logout}" th:method="post">
    <button type="submit" value="Logout">Выйти</button>
</form>

</html>


