<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Панель администратора</title>
</head>
<body>
<div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <span th:text="${current.username}" style="font-weight: bolder"></span>
    <span> with roles: </span>
    <span th:text="${current.roles}"></span>
  </div>
  <div>
    <form th:action="@{/logout}" th:method="post">
      <button type="submit" value="Logout">Выйти</button>
    </form>
  </div>
</div>
<h2>Панель администратора</h2>
<div>
  <a href="/admin" th:method="get" style="color:blue" >Пользователи</a>
  <a href="/admin/addNewUser" th:method="get" style="color:black">Добавить</a>
</div>
<h4>Информация о пользователе</h4>
<form th:action="@{/admin/saveUser}" th:method="patch" align="center">
  <input type="hidden" th:name="id" th:value="${user.id}"/>
  <div class="container">
    <label align="center"> Имя </label>
    <div>
      <input type="text" th:value="${user.name}" name="name" />
    </div>
  </div>
  <br>
  <div class="container">
    <label> Фамилия </label>
    <div>
      <input type="text" th:value="${user.surname}" name="surname" />
    </div>
  </div>
  <br>
  <div class="container">
    <label> Электронная почта </label>
    <div>
      <input type="text" th:value="${user.email}" name="email" />
    </div>
  </div>
  <br>
  <div class="checkbox">
    <label> Роль</label>
      <div th:each = "role:${roles}">
          <input type="checkbox" th:field="${user.roles}" th:value ="${role.id}">
          <label th:text="${role.authority.charAt(5)}"></label>
      </div>
  </div>
  <br>
  <div class="container">
    <label> Пароль</label>
    <div>
      <input type="password" th:value="${user.password}" name="password" />
    </div>
  </div>
  <br>
  <div class="radio">
    <label> Активность</label>
    <div>
      <input th:type="radio" th:checked="${user.enabled}" th:field="${user.enabled}" th:value="true"/>
    </div>
  </div>
  <br>
  <button type="submit">Сохранить</button>
  <br>
</form>
</body>
</html>
