<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Страница пользователя</title>
</head>
<body>
<div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <span th:text="${user.username}" style="font-weight: bolder"></span>
    <span> with roles: </span>
    <span th:text="${user.roles}"></span>
  </div>
  <div>
    <form th:action="@{/logout}" th:method="post">
      <button type="submit" value="Logout">Выйти</button>
    </form>
  </div>
</div>
<h2>Информационная страница пользователя</h2>
<table th:border="1" style="width: 60%">
  <h4>Информация о пользователе</h4>
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Электронная почта</th>
      <th>Роль</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td th:utext="${user.id}"></td>
      <td th:utext="${user.name}"></td>
      <td th:utext="${user.surname}"></td>
      <td th:utext="${user.email}"></td>
      <td th:utext="${user.roles}"></td>
    </tr>
  </tbody>
</table>
<br>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/admin}" th:method="get">
 <button type="submit" value="AllUsers">На страницу администратора</button>
</form>
</body>
</html>

